{% set page = pages[url] %}
{% set folder = "/2223_an2_3themes/www" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=yes">

    <title>{% block title %}{{page.meta.title}} • {{siteinfo.name}}{% endblock %}</title>
    {% if page.meta.keywords %}
    <meta name="keywords" content="{{ page.meta.keywords|join(',') }}">
    {% endif %}
    {% if page.meta.teaser %}
    <meta name="description" content="{{page.meta.teaser}}">
    {% endif %}
    <meta name="generator" content="Zou!">
    <link href="{{folder}}/assets/css/perfundo.min.css" rel="stylesheet">
    <link href="{{folder}}/assets/css/main.css" rel="stylesheet">
    <script defer="" src="{{folder}}/assets/js/main.js"></script>
    {% block head %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>☁</text></svg>">
    {% endblock %}
</head>

<body id="{{page.id|default('home',true)}}-page">
  <div id="upper">

    <aside id="left"></aside>

    <main class="{{page.meta.model}}-main">
    {% block site_main %}
      {% include "block_default_main.html.jinja" %}
    {% endblock site_main %}
    </main>

    <aside id="right"></aside>

    <header id="site-header">
    {% block site_header %}
        <h1><a href="{{folder}}/">{{siteinfo.name}}</a></h1>
        {% block site_nav %}
          {% include "block_nav.html.jinja" %}
        {% endblock site_nav %}
    {% endblock site_header%}
    </header>
  </div>

  <footer id="colophon">
  {% block site_footer %}
    {% include "block_footer.html.jinja" %}
  {% endblock site_footer %}
  </footer>
</body>

</html>
