<div id="colophon-txt">
{%if siteinfo.copyright %}{{siteinfo.copyright}}<br>{%endif%}
{{siteinfo.colophon}}
Dernière mise à jour: {{lastupdate}}
</div>
<div id="colophon-logos">
<a href="http://www.stluc-bruxelles-esa.be/Arts-numeriques"><img src="{{folder}}/logo-esa.svg"></a>
<!-- logo stluc ici -->
</div>
