<nav id="site-nav">
    <ul>
    {% if pages['/']['subpages'] %}
      {% for path in pages['/']['subpages'] %}
        {% if pages[path].meta.visibility != 0 %}
          {% set isActive = true if url == path else false %}
          {% set isParent = true if url|parent == path else false %}
            <li id="menu-{{ pages[path].id }}" class="{{'active' if isActive}} {{'parent' if isParent}}">
                <a href="{{folder}}{{path}}">{{pages[path].meta.title}}</a>
                {# if isParent and pages[path]['subpages'] #}
                  <ul>
                  {% for subpath in pages[path]['subpages'] %}
                    {% if pages[subpath].meta.visibility != 0 %}
                    <li id="menu-{{ pages[subpath].id }}" class="{{'active' if url == subpath}}">
                      <a href="{{folder}}{{subpath}}">{{pages[subpath].meta.emoji}}</a>
                    </li>
                    {% endif %}
                  {% endfor %}
                  </ul>
                {# endif #}
            </li>
        {% endif%}
      {% endfor %}
    {% endif%}
    </ul>
</nav>
