{% extends "base.html.jinja" %}

{% block main_content %}
    {{ super() }}
  <ul class="concordance">
      {% for k,kpaths in keywords|dictsort %}
        <li id="{{k}}">
          <h3>{{k}}</h3>
          <ul>
          {% for kpath in kpaths %}
            {% if pages[kpath].meta.visibility != 0 %}
              <li><a href="{{kpath}}">{{pages[kpath].meta.title}}</a></li>
            {% endif %}
          {% endfor %}

          </ul>
        </li>
      {% endfor %}
  </ul>
{% endblock %}
