{% extends "base.html.jinja" %}
{% block main_header %}
{% endblock %}

{% block main_content %}
  <ul class="directory">
    <li class="director-title"  style="{{randomDisplace([-3,3],[-3,3],'vw','vh')}}"><h2>{{page.meta.title}}</h2><p>{{page.text}}</p></li>
  {% for subpath in page['subpages'] %}
    <a href="{{subpath}}">
      <li id="list-{{ pages[subpath].id }}" style="background-image: url('{{subpath}}/folder.jpg'); {{randomDisplace([-5,5],[-5,5],'vw','vh')}}">
        <!-- NON : il faut 1 H3 vraiment lisible, inline, suivi du brol, le tout dans un div sinon c'est pas très accessible
      https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-hidden_attribute  -->
      <h3  style="font-size:{{ [1.2, 1.5] | random }}vw;{{randomDisplace([-15,15],[-15,6],'%','%')}}">
        {{pages[subpath].meta.title|randomReSpan}}
      </h3>
      <p style="{{randomDisplace([-5,10],[-18,18],'%','%','left')}}"><span>&nbsp;&gt; {{pages[subpath].meta.teaser}}&nbsp;</span></p>
    </li>
  </a>
  {% endfor %}
  </ul>

{% endblock %}
