{% extends "base.html.jinja" %}

{% block main_header %}
    {{ super() }}
  <ul class="meta">

    {% if page.meta.conspirators %}
    <li>With {{page.meta.conspirators}}</li>
    {% endif %}

    {% if page.meta.time %}
    <li><time>{{page.meta.time}}</time></li>
    {% endif %}

    {% if page.meta.keywords %}
    <li class="keywords">
    <ul>
      {% for k in page.meta.keywords %}
        <li><a href="/concordance#{{k}}">{{k}}</a></li>
      {% endfor %}
    </ul>
    </li>
    {% endif %}
  </ul>
{% endblock %}
