:root {
  --sideWidth: 32%;
  --centerWidth: 36%;
  --siteMargin: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
  background-color:#ffe6ee;
  font-family: serif;
  width:100%;
  min-height:100vh;
  padding:var(--siteMargin);
  display:flex;
  flex-direction: column;
  overflow-x: hidden;
}

#upper{
  flex: 1;
  width:100%;
  display:flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

#site-header{
    width:100%;
    padding:3% var(--sideWidth);
    order:1;
}

#upper > main{
    height:auto;
    margin-bottom:5em;
    order:12;
    display:flex;
    flex-wrap: wrap;
    width:var(--centerWidth);
    position:relative;
}

#upper > aside{
  width: var(--sideWidth);
  align-self:stretch;
  position:relative;
}

#upper > aside#left{
  order:11;
}

#upper > aside#right{
  order:13;
}

#colophon{
    width:100vw;
    order:3;
    background-color:#222;
    color:#efefef;
    margin:0 -2rem -2rem -2rem;
    padding: 1.4em 2rem;
    font-size: 0.75rem;
    display: flex;
    justify-content:space-between;
}

#colophon-logos img{
  width: 10em;
}

/* GENERAL STYLE */

h1,h2,h3,h4{
    font-weight: normal;
}

h4{
  text-decoration: underline;
  text-transform: uppercase;
  margin-top:0.5em;
}

a:link, a:visited{
  color:#000;
}

a:hover{
  color: #75cbff;
}

h1 a, h1 a:visited{
  text-decoration: none;
  color:#000;
}

footer a:link, footer a:visited{
  color:#efefef;
}

hr{
  display:none;
}

/* NAV */

#site-nav{
  width:100%;
}

#site-nav ul{
    padding:0;
    text-transform: uppercase;
    list-style: none;
}

#site-nav > ul > li, #site-nav ul ul{
  display:flex;
}

#site-nav > ul > li{
  padding:0.4em 1em 0.4em 0;
}

#site-nav ul ul{
  padding-left:1em;
}

#site-nav ul ul li{
  margin:0 1em 0 1em;
}

#site-nav #menu-themes{
  width:100%;
}

#site-nav li.parent > a::after{
    xcontent: "→ ";
}

#site-nav a{
  text-decoration: none;
  color:#000;
}

#site-nav a:hover{
  background-color: #75cbff;
}

#site-nav .active > a, #site-nav li.parent > a{
  border-bottom:3px solid #75cbff;
}




/* ASIDES */
#upper > aside img{
  margin: 0 auto;
  display:block;
  width:80%;
}


/* MAIN */
main{
  font-size: 1.2em;
}

main h2{
  margin-top: 2em;
}

main p{
  margin-bottom:1em;
}

article img{
  max-width: 100%;
}

article ul, section ul{
  list-style-type: ". ";
  font-family: monospace;
  margin-bottom:2em;
}

article li, section li{
  margin: 0 0 1em 0.75em;
}
