{% if component.assets %}
    <h2>{{component.meta.title}}</h2>
    <ul class="gallery">
    {% for asset in component.assets %}
    <li class="perfundo">
      <a class="perfundo__link" href="#{{asset}}">
        <img src="{{folder}}/th.{{asset}}" title="{{asset}}" class="thumb">
      </a>
      <div id="{{asset}}" class="perfundo__overlay fadeIn" role="dialog" tabindex="-1">
        <figure class="perfundo__content perfundo__figure">
          <img src="{{folder}}/th.{{asset}}" title="{{asset}}">
          <div class="perfundo__image" style="background-image: url({{folder}}/{{asset}});"></div>
        </figure>
        <a href="#perfundo-untarget" class="perfundo__close perfundo__control">⨯</a>
        {% if loop.previtem %}<a class="perfundo__prev perfundo__control" href="#{{loop.previtem}}">←</a>{% endif %}
        {% if loop.nextitem %}<a class="perfundo__next perfundo__control" href="#{{loop.nextitem}}">→</a>{% endif %}
      </div>
    </li>
    {% endfor %}
    </ul>
    {% if component.meta.text %}
      <aside>{{component.meta.text}}</aside>
    {% endif %}
{% endif %}
