@font-face {
	font-family: 'iosevka-aile';
	src: url('iosevka-aile-bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'iosevka-aile';
	src: url('iosevka-aile-bolditalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'iosevka-aile';
	src: url('iosevka-aile-extrabold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'iosevka-aile';
	src: url('iosevka-aile-extrabolditalic.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: 'iosevka-aile';
	src: url('iosevka-aile-extralight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'iosevka-aile';
	src: url('iosevka-aile-extralightitalic.woff2') format('woff2');
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: 'iosevka-aile';
	src: url('iosevka-aile-heavy.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'iosevka-aile';
	src: url('iosevka-aile-heavyitalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'iosevka-aile';
	src: url('iosevka-aile-italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'iosevka-aile';
	src: url('iosevka-aile-light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'iosevka-aile';
	src: url('iosevka-aile-lightitalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'iosevka-aile';
	src: url('iosevka-aile-medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'iosevka-aile';
	src: url('iosevka-aile-mediumitalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'iosevka-aile';
	src: url('iosevka-aile-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'iosevka-aile';
	src: url('iosevka-aile-semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'iosevka-aile';
	src: url('iosevka-aile-semibolditalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'iosevka-aile';
	src: url('iosevka-aile-thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'iosevka-aile';
	src: url('iosevka-aile-thinitalic.woff2') format('woff2');
	font-weight: 100;
	font-style: italic;
}
